Make a file named pandas_series.py or pandas_series.ipynb for the following exercises.

Use pandas to create a Series named fruits from the following list:

In [1]:
import pandas as pd

In [2]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

In [3]:
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

# Exercise Part 1

In [4]:
# 1. Determine the number of elements in fruits.
fruits.count() # Return number of non-NA/null observations in fruit.

17

In [5]:
# 2. Output only the index from fruits.
fruits.index # The index allows us to reference items in the series

RangeIndex(start=0, stop=17, step=1)

In [6]:
# 3. Output only the values from fruits.
fruits.values # The values are the data in fruits.

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [7]:
# 4. Confirm the data type of the values in fruits.
fruits.dtype

dtype('O')

In [8]:
#5. Output only the first five values from fruits. 
# Output the last three values.
# Output two random values from fruits.
print(fruits.head(5))
print()
print(fruits.tail(2))
print()
print(fruits.sample(2))

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

15    gooseberry
16        papaya
dtype: object

2    strawberry
9          kiwi
dtype: object

In [9]:
# 6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [10]:
# 7. Run the code necessary to produce only the unique string values from fruits.
print(fruits.unique()) # unique will give a list of the unqiue values in a series

['kiwi' 'mango' 'strawberry' 'pineapple' 'gala apple' 'honeycrisp apple'
 'tomato' 'watermelon' 'honeydew' 'blueberry' 'blackberry' 'gooseberry'
 'papaya']

In [11]:
# 8. Determine how many times each unique string value occurs in fruits.
fvc = fruits.value_counts() #value counts will give me a count of all the elements in the series
fvc

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [12]:
# 9. Determine the string value that occurs most frequently in fruits.
fvc.nlargest(n = 1)

kiwi    4
dtype: int64

In [13]:
# 10. Determine the string value that occurs least frequently in fruits.
fvc.nsmallest(n = 1, keep ='all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

# Exercises Part 2

Explore more attributes and methods while you continue to work with the fruits Series.

In [15]:
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [21]:
# 1. Capitalize all the string values in fruits.
fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

In [ ]:
# 2. Count the letter "a" in all the string values (use string vectorization)